<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>用户登陆界面</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
        <style>
        #vcode{
                height:35px;
                width:40%;
                font-size:15pt;
                margin-left:15%;
                border-radius:5px;
                border:0;
                padding-left:8px;
            }
            #code {
                color: #ffffff; /*字体颜色白色*/
                background-color: #000000;
                font-size: 20pt;
                font-family: "华康娃娃体W5";
                padding: 5px 35px 10px 35px;
                margin-left: 5%;
                cursor: pointer;
            }
        #search_pass_link{
                width:70%;
                text-align:right;
                margin:0 auto;
                padding:5px;
            }
            /*层级选择器*/
            #search_pass_link a{
                color:#000000;
                text-decoration:none;
            }
            /*伪类*/
            #search_pass_link a:hover{
                color:#ff0000;
                text-decoration:underline;
            }
            </style>

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>用户登陆</strong> Login </h1>
                            <div class="description">
                            	<p>
	                            	<strong>登陆后</strong> , 您可以查看更多展会资讯,留言,以及购买产品!
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>用户登陆</h3>
                            		<p>Enter your username and password to log in:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>
                                    <div class="form-horizontal" >
                                         <input type="text"  class="" placeholder="验证码" onfocus="this.value=''" onblur="if(this.value=='')this.value='验证码'"/>
                                         <span id="code" title="看不清，换一张"></span>
                                    </div>
                                        <div id="search_pass_link">
                                            <a href="#">忘记密码？</a>
                                        </div>
                                    <div>
                                        <button type="submit" class="btn">登陆</button>
                                    </div>
                                    <br>
                                     <div>
                                         <a href="index.html">
                                            <button type="button" class="form-control">返回</button>
                                         </a>
                                    </div>

			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="static/assets/js/placeholder.js"></script>
        <![endif]-->
     <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1829px; width: 1920px; z-index: -999999; position: fixed;"><img src="assets/img/backgrounds/1.jpg">
        <img src="static/assets/img/backgrounds/1.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1800px; height: 829px; max-height: none; max-width: none; z-index: -999999; left: -269.25px; top: 0px;">

     </div>

    </body>
<script type="text/javascript">
        var code;//声明一个变量用于存储生成的验证码
        document.getElementById("code").onclick=changeImg;
        function changeImg(){
            //alert("换图片");
            var arrays=new Array(
                '1','2','3','4','5','6','7','8','9','0',
                'a','b','c','d','e','f','g','h','i','j',
                'k','l','m','n','o','p','q','r','s','t',
                'u','v','w','x','y','z',
                'A','B','C','D','E','F','G','H','I','J',
                'K','L','M','N','O','P','Q','R','S','T',
                'U','V','W','X','Y','Z'
            );
            code='';//重新初始化验证码
            //alert(arrays.length);
            //随机从数组中获取四个元素组成验证码
            for(var i=0;i<4;i++){
            //随机获取一个数组的下标
                var r=parseInt(Math.random()*arrays.length);
                code+=arrays[r];
                //alert(arrays[r]);
            }
            //alert(code);
            document.getElementById('code').innerHTML=code;//将验证码写入指定区域
        }

        //效验验证码(表单被提交时触发)
        function check(){
            //获取用户输入的验证码
            var input_code=document.getElementById('vcode').value;
            //alert(input_code+"----"+code);
            if(input_code.toLowerCase()==code.toLowerCase())
            {
                //验证码正确(表单提交)
                return true;
            }
            alert("请输入正确的验证码!");
            //验证码不正确,表单不允许提交
            return false;
        }
    </script>
</html>