<body>
{% extends "base.html" %}
    {% block mainbody %}

    <div class="bg-content">
        <!--  content  -->
        <div id="content"><div class="ic"></div>
            <div class="container">
                <div class="row">
                    <article class="span8">
                        <div class="inner-1">
                            <ul class="list-blog">
                                <li>
                                    <h3>Morbi ullamcorper leo eget varius elementum</h3>
                                    <time datetime="2012-11-09" class="date-1"><i class="icon-calendar icon-white"></i> 9.11.2012</time>
                                    <div class="name-author"><i class="icon-user icon-white"></i> <a href="#">Admin</a></div>
                                    <a href="#" class="comments"><i class="icon-comment icon-white"></i> 11 comments</a>
                                    <div class="clear"></div>
                                    <p>Morbi ullamcorper, leo eget varius elementum, orci leo feugiat lectus, vitae lobortis mauris velit tempor erat. Etiam eget orci at massa pretium fringilla ac non tortor. Fusce sed velit risus, vitae vehicula quam. Cras at turpis urna, eget volutpat neque. Nullam porttitor, est interdum placerat pharetra, erat sapien aliquet urna, at commodo risus tellus eu nunc.</p>
                                    <a href="blog1.html" class="btn btn-1">查看详情</a>
                                </li>
                                <li>
                                    <h3>Duis autem vel eum iriure dolor</h3>
                                    <time datetime="2012-11-08" class="date-1"><i class="icon-calendar icon-white"></i> 8.11.2012</time>
                                    <div class="name-author"><i class="icon-user icon-white"></i> <a href="#">Admin</a></div>
                                    <a href="#" class="comments"><i class="icon-comment icon-white"></i> 9 comments</a>
                                    <div class="clear"></div>
                                    <p>Morbi ullamcorper, leo eget varius elementum, orci leo feugiat lectus, vitae lobortis mauris velit tempor erat. Etiam eget orci at massa pretium fringilla ac non tortor. Fusce sed velit risus, vitae vehicula quam. Cras at turpis urna, eget volutpat neque. Nullam porttitor, est interdum placerat pharetra, erat sapien aliquet urna, at commodo risus tellus eu nunc.</p>
                                    <a href="blog1.html" class="btn btn-1">查看详情</a>
                                </li>
                                <li>
                                    <h3>Nullam porttitor est interdum placerat pharetra</h3>
                                    <time datetime="2012-11-09" class="date-1"><i class="icon-calendar icon-white"></i> 9.11.2012</time>
                                    <div class="name-author"><i class="icon-user icon-white"></i> <a href="#">Admin</a></div>
                                    <a href="#" class="comments"><i class="icon-comment icon-white"></i> 11 comments</a>
                                    <div class="clear"></div>
                                    <p>Morbi ullamcorper, leo eget varius elementum, orci leo feugiat lectus, vitae lobortis mauris velit tempor erat. Etiam eget orci at massa pretium fringilla ac non tortor. Fusce sed velit risus, vitae vehicula quam. Cras at turpis urna, eget volutpat neque. Nullam porttitor, est interdum placerat pharetra, erat sapien aliquet urna, at commodo risus tellus eu nunc.</p>
                                    <a href="blog1.html" class="btn btn-1">查看详情</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="span4">
                        <h3 class="extra">搜索</h3>
                        <form id="search" action="search.php" method="GET" accept-charset="utf-8" >
                            <div class="clearfix">
                                <input type="text" name="s" style="width: 250px"onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" >
                                <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1" style="margin-right:20px">搜索</a>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                        <h3>每月需求</h3>
                        <div class="wrapper">
                            <ul class="list extra2 list-pad ">
                                <li><a href="#">May 2016</a></li>
                                <li><a href="#">April 2016</a></li>
                                <li><a href="#">March 2016</a></li>
                                <li><a href="#">February 2016</a></li>
                                <li><a href="#">January 2016</a></li>
                                <li><a href="#">December 2016</a></li>
                            </ul>
                            <ul class="list extra2">
                                <li><a href="#">November 2016</a></li>
                                <li><a href="#">October 2016</a></li>
                                <li><a href="#">September 2016</a></li>
                                <li><a href="#">August 2016</a></li>
                                <li><a href="#">July 2016</a></li>
                                <li><a href="#">June 2016</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
<!--  footer  -->
<footer>
    <div class="container clearfix">
       <ul class="list-social pull-right">
          <li><a class="icon-1" href="#"></a></li>
          <li><a class="icon-2" href="#"></a></li>
          <li><a class="icon-3" href="#"></a></li>
          <li><a class="icon-4" href="#"></a></li>
        </ul>
    </div>
</footer>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
    {% endblock %}
</body>
</html>