<!DOCTYPE html>
<html lang="en">
	<head>
	<title>产品信息</title>
	<meta charset="utf-8">
	<link rel="icon" href="http://dzyngiri.com/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="http://dzyngiri.com/favicon.png" type="image/x-icon" />
    <meta name="description" content="Codester is a free responsive Bootstrap template by Dzyngiri">
    <meta name="keywords" content="free, template, bootstrap, responsive">
    <meta name="author" content="Inbetwin Networks">  
	<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="static/css/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="static/css/touchTouch.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/superfish.js"></script>
    <script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="static/js/touchTouch.jquery.js"></script>

	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='js/jquery.preloader.js'></"+"script>");}	</script>
	<script>
		 jQuery(window).load(function() {
		 $x = $(window).width();
	if($x > 1024)
	{
	jQuery("#content .row").preloader();    }
	 jQuery('.magnifier').touchTouch();
		 jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});
  		  });

	</script>

	<!--[if lt IE 8]>
  		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>
 	<![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->
	<!--<![endif]-->
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="static/css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/css/ie.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <![endif]-->

    <!--Google analytics code-->
	  <script type="text/javascript">
           var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29231762-1']);
          _gaq.push(['_setDomainName', 'dzyngiri.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>
	</head>

	<body>
    {% extends "base.html"%}
    {% block mainbody %}
<div class="spinner"></div>

<div class="bg-content">
  <!-- Content -->
     <div id="content"><div class="ic"></div>
    <div class="container">
     <div class="row">
                <article class="span12">
                    <div style="width:800px;float:left">
                        <h4 style="width:200px">Products</h4>
                    </div>
                    <br>
                    <form id="search" action="search.php" method="GET" accept-charset="utf-8" >
                    <div class="clearfix">
                      <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" >
                      <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1">搜索</a> </div>
                    </form>
                </article>

            <div class="clear"></div>
            <ul class="thumbnails thumbnails-1 list-services">
             <li class="span4">
                  <div class="thumbnail thumbnail-1">
                <h3>Graphics</h3>
                <img  src="static/img/blog-featured-02.jpg" alt="">
                <section>
                	  <a href="#"><h3>Deleniti atque corrupti quos</h3></a>
                        <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-star"></i>price</a>
                        </div>
                        <div class="clear"></div>
                      <p>Vestibulum volutpat urna sed sapien vehicula varius.</p>
                      <a href="product2.html" class="btn btn-1">查看详情</a> </section>
              </div>
                </li>
              <li class="span4">
                  <div class="thumbnail thumbnail-1">
                <h3>Social Media</h3>
                <img  src="static/img/blog-featured-03.jpg" alt="">
                <section>
                	  <a href="#"><h3>Similique sunt in culpa qui officia</h3></a>
                        <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-star"></i>price</a>
                        </div>
                        <div class="clear"></div>
                      <p>Pellentesque mi justo, laoreet non bibendum non, auctor imperdiet eros.</p>
                      <a href="product2.html" class="btn btn-1">查看详情</a> </section>
              </div>
                </li>
              <li class="span4">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">Photography</h3>
                <img  src="static/img/blog-featured-04.jpg" alt="">
                <section> <a href="#"><h3>Similique sunt in culpa qui officia</h3></a>
                		<div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-star"></i>price</a>
                        </div>
                        <div class="clear"></div>
                      <p>Vestibulum volutpat urna sed sapien vehicula varius.</p>
                      <a href="product2.html" class="btn btn-1">查看详情</a> </section>
              </div>
                </li>
              <li class="span4">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">Photography</h3>
                <img  src="static/img/blog-featured-04.jpg" alt="">
                <section> <a href="#"><h3>Similique sunt in culpa qui officia</h3></a>
                		<div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-star"></i>price</a>
                        </div>
                        <div class="clear"></div>
                      <p>Vestibulum volutpat urna sed sapien vehicula varius.</p>
                      <a href="product2.html" class="btn btn-1">查看详情</a> </section>
              </div>
                <li class="span4">
                  <div class="thumbnail thumbnail-1">
                <h3>Web Design</h3>
                <img  src="static/img/blog-featured-01.jpg" alt="">
                <section>
                		<a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
                	    <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-star"></i> price</a>
                        </div>
                        <div class="clear"></div>
                      <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
                      <a href="product2.html" class="btn btn-1">查看详情</a> </section>
              </div>
                </li>
            <li class="span4">
                  <div class="thumbnail thumbnail-1">
                <h3>Web Design</h3>
                <img  src="static/img/blog-featured-01.jpg" alt="">
                <section>
                		<a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
                	    <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-star"></i> price</a>
                        </div>
                        <div class="clear"></div>
                      <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
                      <a href="product2.html" class="btn btn-1">查看详情</a> </section>
              </div>
                </li>
            </ul>
      </div>
        </div>
  </div>
    </div>

<!-- footer -->
<footer>
      <div class="container clearfix">
    <ul class="list-social pull-right">
          <li><a class="icon-1" href="#"></a></li>
          <li><a class="icon-2" href="#"></a></li>
          <li><a class="icon-3" href="#"></a></li>
          <li><a class="icon-4" href="#"></a></li>
        </ul>
    <div class="privacy pull-left">&copy; 2013 | <a href="http://www.dzyngiri.com">Dzyngiri : Online Design Magazine</a> | <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> | Demo Illustrations by <a href="http://justinmezzell.com" target="_blank">Justin Mezzell</a></div>
  </div>
    </footer>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
    {% endblock %}
</body>
</html>